
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

/*----------------------------------*/
/*--------GNRL STYLES---------------*/
/*----------------------------------*/
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #282828;
    font-weight: 300;
}
.clearfix{
    content: "";
    clear: both;
    display: table;
    display: block;
    float: none;
    width: 100%;
    height: 0; 
}
/*----------------------------------*/
/*--------END OF GNRL STYLES--------*/
/*----------------------------------*/



/*----------------------------------*/
/*--------HEADER STYLES-------------*/
/*----------------------------------*/
header{
    border-bottom: solid 1px #e8e8e8;;
}
.navbar-brand{
    height: 90px;
    padding-top: 40px;
}
nav .navbar{
    padding-top: 50px;
}
.nav li a{
    font-size: 1em;
    color:#313131;
}
.nav li a::after{
    content: '';
    display: block;
    width: 0%;
    height: 4px;
    background-color: transparent;
    border-radius: 3px;
    background-color: #f2cb23;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.nav li:hover a::after{
    width: 100%;
    background-color: #dc2c2a;
}


.nav>li>a:focus, .nav>li>a:hover
{
    background-color: transparent;
}

.navbar-toggle 
{
    background: #6fc2d6;
}
.navbar-toggle span
{
    background: #fff;
}

/*----------------------------------*/
/*--------END OF HEADER STYLES------*/
/*----------------------------------*/


/*----------------------------------*/
/*--------TYPO STYLES---------------*/
/*----------------------------------*/

section.heading h1 {
    color: #fff;
    text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0; right: 0;
        font-weight: bold;

    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;

    padding: 0 20%;
}

section.heading h1 small{
    display: inline-block;
    color: #fff;
    position: relative;
    font-weight: 100;
    
}

section.heading h1 small img{
    padding-right: 10px;
}

section.heading h1 small::before{
    content: '';
    display: block;
    height: 1px;
    background-color: #FFFFFF;
    width: 70%;
    position: absolute;
    left: -80%;
    top: 50%;
}
section.heading h1 small::after{
    content: '';
    display: block;
    height: 1px;
    background-color: #FFFFFF;
    width: 70%;
    position: absolute;
    right: -80%;
    top: 50%;
}
h2{
    font-size: 1.5em;
    padding: 60px 30%;
    text-transform: uppercase;
    text-align: center;
    margin: 0; 
}

h2.style-01{
    font-size: 1.75em;
    padding: 0;
    text-transform: capitalize;
    margin: 0 0 28px;
    font-weight: 100;
    text-align: left;
}
h2.style-01 span{
    font-weight: 700;
    display: block;
}

h2.style-02{
    font-size: 1.75em;
    padding: 0;
    text-transform: capitalize;
    margin: 0 0 28px;
    font-weight: 700;
    text-align: left;
}
h3.style-01{
    color: #282828;
    font-size: 0.875em;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    margin: 50px 0 20px;
}

h3.style-01::before{
    content: '';
    height: 1px;
    background-color: #e6e6e6;
    width: 100%;
    position: absolute;
    top: 7px;
    display: block;
    z-index: 2000;
}
h3.style-01 span{
    z-index: 3000;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 20px;
}

h3 {
    color: #282828;
    font-size: 1em;
    text-align: center;
    position: relative;
    margin: 50px 0 40px;
    padding: 0;
    font-weight: 700;
}
h4{
    color: #282828;
    font-size: 1em;
    text-align: left;
    position: relative;
    margin: 30px 0 10px;
    padding: 0;
    font-weight: 700;
}
/*----------------------------------*/
/*--------END OF TYPO STYLES--------*/
/*----------------------------------*/



/*----------------------------------*/
/*--------TABLE STYLES--------------*/
/*----------------------------------*/
.table {
    margin-bottom: 0px;
}
.table-responsive {
    border: solid 1px #e6e6e6;
    border-radius: 10px;
    padding: 10px 30px;
}
.table>thead>tr>th,
.table>tbody>tr>td{
    text-align: center;
}

/*----------------------------------*/
/*--------END OFTABLE STYLES--------*/
/*----------------------------------*/


/*----------------------------------*/
/*--------HEADING STYLES------------*/
/*----------------------------------*/

section.heading{
    background-position: center top;
    background-size: cover; 
    height: 320px;
}
section.heading .container {
    display: block;
    height: 100%;
    position: relative;
}

ol.breadcrumb {
    position: absolute;
    bottom: -60px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #ffffff;
    z-index: 1000;
}

ol.breadcrumb a{
    color: #fff;
    font-weight: 300;
}

ol.breadcrumb{
    font-weight: 600;
    font-size: 0.75em;
}
ol.breadcrumb a:hover{
    text-decoration: underline;
}

/*----------------------------------*/
/*--------END OF HEADING STYLES-----*/
/*----------------------------------*/


/*----------------------------------*/
/*--------FORM STYLES---------------*/
/*----------------------------------*/
section#pm-form .form-container{
    border: solid 1px #e6e6e6;
    padding: 50px 96px 33px;
}
section#pm-form button[type="submit"] {
    display: block;
    margin: 0 auto;
    bottom: -50px;
    position: relative;
    background-color: #dc2c2a;
    border-radius: 30px;
    color: #fff;
    font-weight: 300;
    padding: 6px 100px;
    border: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
section#pm-form button:hover[type="submit"] {

    background-color: #BA0000;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    bottom: -50px;
    position: relative;
    background-color: #dc2c2a;
    border-radius: 30px;
    color: #fff;
    font-weight: 300;
    padding: 6px 100px;
    border: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 100%;
}
button:hover[type="submit"] {

    background-color: #BA0000;
}
section#pm-form span.btn.btn-primary{
    background-color: #f2cb23;
    border: none;
    border-radius: 30px;
    padding: 3px 60px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
section#pm-form span.btn.btn-primary:hover{

    background-color: #BF7E00;
}


section#form-container span.btn.btn-primary{
    background-color: #f2cb23;
    border: none;
    border-radius: 30px;
    padding: 3px 60px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
section#form-container span.btn.btn-primary:hover{

    background-color: #BF7E00;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="password"] {
    border: solid 1px #e6e6e6;
    border-radius: 30px;
}

.btn{border-radius: 20px;padding: 3px 20px}
.btn-success{background-color: #acc83f; border: none; font-weight:300;}
.btn-danger{background-color: #dc2c2a; border: none; font-weight:300;}

.form-type-01{
    padd
}
/*----------------------------------*/
/*--------END OF FORM STYLES--------*/
/*----------------------------------*/



/*----------------------------------*/
/*--------FOOTER STYLES-------------*/
/*----------------------------------*/
footer{
    background-color: #fff;
    height: 100px;
    margin-top: 100px;
    box-shadow: 0 0 10px #a2a2a2;
    padding: 30px 10px;
}

footer a.footer-brand{
    color: #abc73d;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 100;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: right;
}

footer a.footer-brand:hover{
    color: #526606;
    text-decoration: none;
}
/*----------------------------------*/
/*--------END OF FOOTER STYLES------*/
/*----------------------------------*/

/*==================================================
=            TEMPLATES TYPES                       =
==================================================*/
/*==========  NO HERO ==========*/
body.template-type-no-hero header{
    margin-bottom: 60px;
}




/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
            }
        
            /* Extra Small Devices, Phones */ 
            @media only screen and (min-width : 480px) {
        
            }
        
            /* Small Devices, Tablets */
            @media only screen and (min-width : 768px) {
        
            }
        
            /* Medium Devices, Desktops */
            @media only screen and (min-width : 992px) {
        
            }
        
            /* Large Devices, Wide Screens */
            @media only screen and (min-width : 1200px) {
        
            }
        
            /*==========  Non-Mobile First Method  ==========*/
        
            /* Large Devices, Wide Screens */
            @media only screen and (max-width : 1200px) {
        
            }
        
            /* Medium Devices, Desktops */
            @media only screen and (max-width : 992px) {
        
            }
        
            /* Small Devices, Tablets */
            @media only screen and (max-width : 768px) {
                .navbar-toggle {
                    margin: 22px -5px 0;
                }
                .navbar-brand{
                    height: 50px;
                    padding: 13px 0;
                }
                section.heading h1 {
                    padding: 0 5%;
                    font-size: 1.6em;
                }
                section.heading h1 small::before,
                section.heading h1 small::after{
                    display: none;
                }
                section#pm-form .form-container
                {
                    padding: 20px 15px 30px;
                }
                section#pm-form span.btn.btn-primary{
                    padding: 3px 20px;
                }
                section#pm-form button[type="submit"]{
                    padding: 6px 10%;
                    border-radius: 9px;
                }
                h2{
                    font-size: 1.0em;
                    padding: 30px 0%;
                }
                h3{
                    margin: 30px 0 30px;
                }
            }
        
            /* Extra Small Devices, Phones */ 
            @media only screen and (max-width : 480px) {
                
            }
        
            /* Custom, iPhone Retina */ 
            @media only screen and (max-width : 320px) {
        
            }

